
<div id="page_content">
    <h1 class="sub_header">Your Challengers</h1>
    {{#each challenges}}
        <div class="challenge_item">
            <p class="player_name">{{this.Challenger}} is challenging you to a game of pool</p>
            <form class='inline_form' action="challanges" method="post">
                <input style="display: none;" name="username" value="{{this.Challenger}}" class="btn btn-dark">
                <input style="display: none;" name="id" value="{{this.ChallengeID}}" class="btn btn-dark">
                <input name='reply' value="Accept" class="btn btn-success" type="submit">
                <input name='reply' value="Decline" class="btn btn-danger" type="submit">
            </form>
        </div>
    {{/each}}

        <h1 class="sub_header">Challenges</h1>

        {{#each open}}
        <div>
      <h1>{{this.Player_1}} VS {{this.Player_2}}  </h1>
     <button type = "info" class = "btn btn-primary"> {{this.GameDate}} at {{this.GameTime}} </button>
       </div>
       <br>
       <hr>
       <hr>
        {{/each}}
</div>
<div id="footer">
</div>